<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="utf-8">
    <meta name="author" content="John Carney">
    <meta name="description" content="Machine Learning thoughts">
    <title>Machine Learning in Manchester</title>
</head>

<body>
      <div class="container">
          <div id="wrapper" style="margin-top:10px; margin-bottom:10px">

            <div>
                <h4><a href="{{ url_for("home") }}">John Carney</a></h4>
            </div>

             <div style="float:right;padding-top:0px;padding-right:50px;" id="3">
                <ul>
                    <li id="link-list"><a href="{{ url_for("home") }}">Home</a></li>
                    <li id="link-list"><a href="{{ url_for("blog") }}">Blog</a></li>
                    <li id="link-list"><a href="http://github.com/jaspajjr" target="_blank">GitHub</a></li>
                </ul>
            </div>

            <div id="wrapper">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                        <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                    Manchester, UK
                </p>
            </div>

            <div>
                {% block content %}
                    <p>Default Content</p>
                {% endblock content %}
            </div>
      </div>
</body>
</html>